<launch>

    <include file="$(find f1tenth_gym_ros)/launch/gym_bridge_host.launch" />

    <node name="CarminatorA" pkg="car_duri" type="ICE_fgm_Ryul.py" output="screen">
        <remap from="/ICE/drive" to="/opp_id/drive" />
        <remap from="/ICE/odom" to="/opp_id/odom" />
        <remap from="/ICE/scan" to="/opp_id/scan" />

    </node>

</launch>
